*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
body,html{
    background-color: #F1F5FE;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.textomostra{
    opacity: 0;
    transform:  translateX(-50px);
    transition: opacity 0.5s ,transform 0.5s;
}

.mostrartexto{
    opacity: 1;
    transform: translateY(0);
}

/* movil */
.movil{
    position: absolute;
    width: 29px;
    height: 48px;
    bottom: 4em;
    left: 45%;
    transform: translate(50%,-10%);
    border: 2px solid white;
    border-radius: 6px;
}
.movil::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: subir-bajar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
  }

  @keyframes subir-bajar {
    0% {
      top: 15px;
    }
    100% {
      top: 30px;
    }
  }
/* cuadros */
/* .cuadros{
    position: relative;
    display: none;
}
.cuad{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #663399;
    z-index: 999;
    right: 2em;
    position: fixed;
    top: 55%;
    transition: background-color 0.3s ease;
}
.cuad1{
    top: 52vh;
}
.cuad2{
    top: 49vh;
}
.cuad3{
    top: 46vh;
}
.rotacion {
    animation: rotacion 1s infinite linear;
  }
@keyframes rotacion {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */

.verapartado{
    display: none;
}
.apartados{
    display: flex;
    position: absolute;
    top: 0;
    font-size: 1.5vw;
    font-family: sans-serif;
    right: 1em;
    padding-top: 1.5em;   
}


.apartados h1:hover {
    transform: translateY(-5px);
    
}
.apartados h1{
    margin: 0em 1vw;
    color: white;
    transition: transform 0.3s;
    cursor: pointer;
}

/* priemraparte */
.centrardiv {
    background-color: #3475FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fb28a5'/%3E%3Cstop offset='1' stop-color='%23fb28a5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23b45df4'/%3E%3Cstop offset='1' stop-color='%23b45df4' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff1173'/%3E%3Cstop offset='1' stop-color='%23ff1173' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233475FF'/%3E%3Cstop offset='1' stop-color='%233475FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF5D18'/%3E%3Cstop offset='1' stop-color='%23FF5D18' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF2FD0'/%3E%3Cstop offset='1' stop-color='%23FF2FD0' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover; 
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    height: 500px;
    position: relative;
  }
  
  .headerclass {
    text-align: left;
    
  }
  .headerclass h1{
    font-size: 60px;
    font-family: sans-serif;
    color: white;
  }
.textoclass {
    padding-top: 1em;
    display: flex;
    justify-content: left;
    align-items: center;

}

.textoclass p{
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    width: 37vw;
}


.bars__menu{
    width: 30px;
    height: 30px;
    position: absolute;
    right:  0;
    top: 0;
    cursor: pointer;
    margin: 2em 1em;
    z-index: 99999;
}
.bars-menu1{
    display: block;
    width: 100%;
    height: 4px;
    background-color:white;
    margin-top: 4px;  
    transition: all 300ms;
    transform-origin: 0px 100%;
    border-radius: 20px;
    z-index: 99999;
}
.line1.active {
    transform: rotate(45deg) translate(-3px, 1px);
    border-radius: 20px;
  }
.line3.active {
    transform: rotate(-45deg) translate(-4px, 2px);
    border-radius: 20px;
  }
.line2.active {
    opacity: 0;
    margin-right: -30px;
  
}
.custom-shape-divider-bottom-1687275443 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1687275443 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1687275443 .shape-fill {
    fill: #F1F5FE;
}
.apartadomenu{
    position: absolute;
    width: 100%;
    background-color: white;
    height: 100vh;
    z-index: 9999;
    bottom: 0;
    transition: opacity 0.3s ease;
    opacity: 0;
}
.mostraapartado{
    opacity: 1;
}
.positionelements{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ffff00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover;
}
.elements{
    position: absolute;
    top: 20%;
    left: 10%;
 
}
.elements h1{
    padding: .5em;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}
.beja{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 4vw;
    font-family: sans-serif;
     padding-top: 40px;

}
.beja h1{
    color: white;
}

.terminar {
    position: absolute;
    padding-top: 1em;    
    font-size: 15px;
    font-family: sans-serif;   
    padding-left: 1.5em;
}

.terminar p{
    padding-top: 1em;
    color: white;
}
.centrardiv{
    display: flex;
    position: relative;
}

.cartasflex{
    height: 200px;
    width: 40vw;
    background-image: url('https://i.kinja-img.com/gawker-media/image/upload/c_fit,f_auto,g_center,q_60,w_1600/zxlbffzkxpcp0llyekon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transform: perspective(670px) rotateY(-20deg) rotateX(20deg);
    position: absolute;
    right: 4vw;
    top: 5em;
    transition: filter 0.3s ease , width 0.5s ease, transform 0.3s, box-shadow 0.3s;
}
.cartasflex:hover{
   filter: brightness(1.2);
    transform: perspective(670px) rotateY(0deg) rotateX(0deg);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5); /* Agrega un brillo más intenso */

}
.dentrocarta{
    position: relative;
    width: 100%;
    height: 100%;
}
.lenguajesflex{
    position: absolute;
    top: 0;
    right: 0;
    margin:0em .5em;
}
.lenguajesflex img{
    max-width: 14px;
    border-radius: 50%;
}
.puntos{

    height: 35px;
    width: 100%;
    position: absolute;
    display: flex;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;

}
.c1{
    height: 7px;
    width: 7px;
    border-radius: 20px;
    margin:1em .1em;
  
}


.c1d{
    background-color: #FB5C59;
    margin-left: 1em;
}
.c2d{
    background-color: #FABD25;
}.c3d{
    background-color: #27CA41;
}

.barratext{

    height: 5px;
    position: relative;
    top: 2em;
    margin: .5em;
    border-radius: 20px;
    
}
.tex1{
    background-color: black;
    width: 60px;
}
.tex2{
    background-color: black;
    width: 50px;
}
.tex3{
    background-color: black;
    width: 40px;
}

.entrada{
    position: absolute;
    width: 60px;
    height: 45px;
    background-color: transparent;
    border-radius: 10px;
    top: 3em;
    border: 2px solid white;
    left: 50%;
    transform: translate(-50%, -10%);
    transition: width 0.5s ease, height 0.5s ease;
}
.bolitaentrada{
    background-color: white;
    position: absolute;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    top: 44%;
    left: 44%;
    animation: respiracion 1s infinite alternate ease-in-out;
}
@keyframes respiracion {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1.5);
    }
  }

.cartaflex2{
    background-image: url('https://i.kinja-img.com/gawker-media/image/upload/c_fit,f_auto,g_center,q_60,w_1600/npuru2dny8hxa0yvtpb8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
    height: 100px;
    position: absolute;
    right: 6vw;
    top: 13em;
    border-radius: 15px;
    transform: perspective(670px) rotateY(-20deg) rotateX(20deg);
    transition: filter 0.3s ease , width 0.5s ease, transform 0.3s, box-shadow 0.3s;
}

.cartaflex2:hover{
    filter: brightness(1.2); /* Aumenta la iluminación */
    transform: perspective(670px) rotateY(0deg) rotateX(0deg);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5); /* Agrega un brillo más intenso */

}
.cartaflex2:hover .lenguajesflex2 img {
    transform: scale(1.3); /* Aplica una escala a las imágenes */
    transition: transform 0.3s ease; 
}
.lenguajesflex2{
    position: absolute;
    top: 5px;
    right: 5px;
}
.lenguajesflex2 img{
    max-width: 15px;
}


.cartasflex3{
    background-image: url('https://i.kinja-img.com/gawker-media/image/upload/c_fit,f_auto,g_center,q_60,w_1600/m16jl9z22q0qkbgslzkx.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 15vw;
    height: 90px;
    position: absolute;
    left: 55.5vw;
    top: 13em;
    border-radius: 15px;
    transform: perspective(670px) rotateY(-20deg) rotateX(20deg);
    transition: filter 0.3s ease ,width 0.5s ease, transform 0.3s, box-shadow 0.3s;
}

.cartasflex3:hover{
    filter: brightness(1.2);
    transform: perspective(670px) rotateY(0deg) rotateX(0deg);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5); /* Agrega un brillo más intenso */

}
.cartasflex3:hover .lenguajesflex3 img {
    transform: scale(1.3); /* Aplica una escala a las imágenes */
    transition: transform 0.3s ease; 
}
.lenguajesflex3{
    position: absolute;
    top: 5px;
    right: 5px;
}
.lenguajesflex3 img{
    max-width: 15px;
}

.barraios{
    width: 70%;
    position: relative;
    height: 14px ;
    background-color:white;
    top: .8em ;
    border-radius: 20px;
    left: 5%;
}

.cartasgeneral{
    display: none;
}
/*sobre mi */
.developent h1{
    font-size: 40px;
    font-family: sans-serif;
    padding-left: .3em;
    padding-right: 0em;
    z-index: -9999;
    color: #663399;
}
#sobre_mi{
    margin-top: 2em;
}
.blourgeneral{
    position: relative;
    width: 100%;
    height: 100%;  
    display: flex;
    justify-content: center;
    
}

.circleblour{
    position: absolute;
    border-radius: 50%;
}

.cr1class{
    background-color: #5A48E1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ad2975'/%3E%3Cstop offset='1' stop-color='%23ad2975' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ad9e97'/%3E%3Cstop offset='1' stop-color='%23ad9e97' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff7f2b'/%3E%3Cstop offset='1' stop-color='%23ff7f2b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235A48E1'/%3E%3Cstop offset='1' stop-color='%235A48E1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0909'/%3E%3Cstop offset='1' stop-color='%23FF0909' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFF44C'/%3E%3Cstop offset='1' stop-color='%23FFF44C' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover;
    width: 170px;
    height: 170px; 
    top: 25%;
    left: 65%;
    transform: translate(-50%, -50%);
}
.cr2class{
    background-color: #7748E1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23bb9177'/%3E%3Cstop offset='1' stop-color='%23bb9177' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23bb318e'/%3E%3Cstop offset='1' stop-color='%23bb318e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff7a24'/%3E%3Cstop offset='1' stop-color='%23ff7a24' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237748E1'/%3E%3Cstop offset='1' stop-color='%237748E1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFD90D'/%3E%3Cstop offset='1' stop-color='%23FFD90D' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF1A3A'/%3E%3Cstop offset='1' stop-color='%23FF1A3A' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover;
    width: 150px;
    height: 150px;
    top: 65%;
   left: 35%;
   transform: translate(-50%, -50%);
    
}
.cr3class{
    background-color: #5E28E1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f01a77'/%3E%3Cstop offset='1' stop-color='%23f01a77' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f23ea8'/%3E%3Cstop offset='1' stop-color='%23f23ea8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffbf33'/%3E%3Cstop offset='1' stop-color='%23ffbf33' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235E28E1'/%3E%3Cstop offset='1' stop-color='%235E28E1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFD90D'/%3E%3Cstop offset='1' stop-color='%23FFD90D' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFB158'/%3E%3Cstop offset='1' stop-color='%23FFB158' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover; 
    top: 12em;
    width: 100px;
    height: 100px;
    top: 85%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.cartablurcentrar{
    position: relative;
    width: 100%;
    height: 100%;
 
}
.cartaglour{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    width:80%;
   
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px;
  
}
.aboutme h1{
    padding-top: .5em;
    padding-right: .5em;
    padding-left: 1.5vh;
    font-family: sans-serif;
    font-size: 20px;
  
}
.cartaglour p{
 
    font-family: sans-serif;
    font-size: 16px;
    margin: .8em 2em;
    padding-top: 1em;
    padding-bottom: 1em;

}
.white-text {
    color: black;
}
.imgrelevants{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 27%;
}
.imgrelevants img{
    max-width: 50px;
margin: .5em .5em;
}

.imgrelevants2{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 38%;
}
.imgrelevants2 img{
    max-width: 50px;
    margin: .5em .5em;
}

/*phone*/

.tile h1{
    padding-top: 2em;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0em .5em;
    color: #663399;
  
}
.centerphone{
    width: 100%;
    height: 450px;
}
.relojiphone{
    position: absolute;
    bottom:70%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 30px;
    font-family: sans-serif;
   
}
.iphone{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 380px;
    margin:  0 auto;
    top: 101px;
    border-radius: 20px;
    background-color: #FFE71E;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff7a0f'/%3E%3Cstop offset='1' stop-color='%23ff7a0f' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230fff1a'/%3E%3Cstop offset='1' stop-color='%230fff1a' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFE71E'/%3E%3Cstop offset='1' stop-color='%23FFE71E' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover;
    border: 6px solid  black;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px;
}
.colorfondo{
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 9999;
    border-radius: 12px;
    transition: background-color 0.40s ease-in-out;
}
.prendecelular{
    opacity: 1;
}
.palabrasiphon{
    transition: opacity 0.40s ease;
    opacity: 0;
}
.palabrasiphon h1{
    color: black;
    position: absolute;
    z-index: 99999;
    text-align: center;
    font-family: sans-serif;
    right: 27.5%;
    top: 45%;
}
.mostrarpalabasiphon{
    opacity: 1
}
.dinamic{
    position: absolute;
    top: 0;
    background-color: black;
    width: 100px;
    height: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 9999;
    transition: width 0.5s ease;
}
.barraphone{
    position: absolute;
    bottom: .5em;
    background-color: white;
    height: 3px;
    width: 70px;
}
.appsphone{
    position: absolute;
    bottom: 2em;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    opacity: 0.8;
}
.imgappsphone{
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    bottom: 2.5em;
}
.imgappsphone img{
    max-width: 20px;
    margin: 0em .4em;
    transition: transform 0.3s;
    border-radius: 4px;
}
.imgappsphone img:hover {
    transform: scale(1.5) translateY(-5px);
  }
/*contact*/
.centrado{
    padding-top: 13em;
}

 .contact h1{
     font-size: 40px;
     font-family: sans-serif;
     padding-left: .3em;
     padding-right: 1em;
    
    
 }
 .contact p{
    
     font-family: sans-serif;
     font-size: 16px;
     margin: 0em 2em;
     padding: 1em 0em;
     color: black;
 }
 .contact h1 {
   font-size: 40px;
   font-family: sans-serif;
   padding-left: 0.3em;
   padding-right: 1em;
   color: #663399;
 }
 .contact p {
   font-family: sans-serif;
   font-size: 18px;
   margin: 0em 2em;
   padding: 1em 0em;

 }
 .contact {
    position: relative;
    z-index: 1;


  }
  
  .conteinerimggsap {
    position: absolute;
    top: 30%;
    right: 0;
    z-index: -9999;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
  }
  .conteinerimggsap2{
    position: absolute;
    top: 20%;
    left: 0;
    z-index: -9999;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
  
  .circle {
    width: 20px;
    height: 20px;
    margin: 5em 0em;
    opacity: 0;
  }
  

.circulo1{
    background-color: #1148FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e308ff'/%3E%3Cstop offset='1' stop-color='%23e308ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2312ff5f'/%3E%3Cstop offset='1' stop-color='%2312ff5f' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff7509'/%3E%3Cstop offset='1' stop-color='%23ff7509' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231148FF'/%3E%3Cstop offset='1' stop-color='%231148FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFE312'/%3E%3Cstop offset='1' stop-color='%23FFE312' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover;

}
.circulo2{
    background-color: #1B31FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff14ad'/%3E%3Cstop offset='1' stop-color='%23ff14ad' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2324ffe3'/%3E%3Cstop offset='1' stop-color='%2324ffe3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23b7ff1e'/%3E%3Cstop offset='1' stop-color='%23b7ff1e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231B31FF'/%3E%3Cstop offset='1' stop-color='%231B31FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFCE0D'/%3E%3Cstop offset='1' stop-color='%23FFCE0D' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234FFF2E'/%3E%3Cstop offset='1' stop-color='%234FFF2E' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


.circulo3{
    background-color: #1B31FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff30fc'/%3E%3Cstop offset='1' stop-color='%23ff30fc' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231eff88'/%3E%3Cstop offset='1' stop-color='%231eff88' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffaa32'/%3E%3Cstop offset='1' stop-color='%23ffaa32' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231B31FF'/%3E%3Cstop offset='1' stop-color='%231B31FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF5B44'/%3E%3Cstop offset='1' stop-color='%23FF5B44' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F5FF20'/%3E%3Cstop offset='1' stop-color='%23F5FF20' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover;
 
}
.circulo4{
    background-color: #FF4B22;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2380ff26'/%3E%3Cstop offset='1' stop-color='%2380ff26' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff3462'/%3E%3Cstop offset='1' stop-color='%23ff3462' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235c39ff'/%3E%3Cstop offset='1' stop-color='%235c39ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF4B22'/%3E%3Cstop offset='1' stop-color='%23FF4B22' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232BFFFD'/%3E%3Cstop offset='1' stop-color='%232BFFFD' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF47BC'/%3E%3Cstop offset='1' stop-color='%23FF47BC' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover;  
}
.circulo1,
.circulo2,
.circulo3,
.circulo4 {
  filter: saturate(0.8); /* Ajusta el valor según tu preferencia */
}

/*seccion img */
.containerimgredes{
   position: relative;
   top: 4em;

}
.pmostrar p{
    color: black;
    z-index: 99999;
    padding-left: 2em;
    font-size: 16px;
    font-family: sans-serif;
}
.imgredes{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    opacity: 0;
}  
.opacityimg{
    opacity:1;
}
.imgredes img{
    max-width: 40px;
    margin: 1em .5em;
    transition: transform 0.3s ease;
}
.img1:hover{
    transform: translatey(-10px);
}
.img2:hover{
    transform: translatey(-10px);
}
.img3:hover{
    transform: translatey(-10px);
}
.img4:hover{
    transform: translatey(-10px);
}
.img5:hover{
    transform: translatey(-10px);
}

.containerimg1 p{
    color: black;
  
}
.parrafoid{
    transition: opacity 0.3s ease;
    opacity: 0;
    text-align: center;
    font-size: 15px;
    padding-top: 2em;
    font-family: sans-serif;
}
.mostartextoconid{
    opacity: 1;
}


.mackbok{

    height: 300px;
    top: 4em;
}

.conteinermack{
    position: relative;
    background-color: black;
    height: 400px;
    width: 727px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra negra suave */

}
.conteinermack:hover{
 
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.3); /* Sombra negra suave */
}
.imgfondomack{
    position: absolute;
    background-image: url(/imgresponsive/3.PNG);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    transition: background-image 0.3s;
    transition: transform 0.2s ease;
    border: 6px solid black;
}

.linemacbbok{
    position: absolute;
    height: 5vh;
    width: 100%;
    bottom: 0;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.img img{
    position: absolute;
    width: 50px;
    height: 30px;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}
.barratraparente{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* Transparencia del 50% (0.5) */
    backdrop-filter: blur(10px); /* Difuminado con un radio de 10px */
    opacity: 0.8; /* Opacidad del 80% para el contenido */
    height: 31px;
    width: 182px;
    bottom: 3.9em;

    left: 50%;
    transform: translateX(-50%);/*  se aplica para desplazar el elemento hacia la izquierda en un 50% de su propio ancho, lo que resulta en un centrado horizontal. */
    border-radius: 7px;
}
.apps{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 17%;
    left: 50%;
    transform: translateX(-50%);
}
.apps img{
    max-width: 20px;
    margin: 0em .5em;
    transition: transform 0.3s;
}
.apps img:hover {
    transform: scale(2.1) translateY(-5px);
  }
  #imgcambiar {
    transition: background-image 0.3s;
  }
/* reloj2 */
.reloj2{
    position: absolute;
    bottom:60%;
    transform: translatey(-50%);
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 30px;
    font-family: sans-serif;
   
    
}

/* ipat */
.ipat{
    display: none;
}
.fondonegroipat{
    position: relative;
    background-color: black;
    width: 356px;
    height: 450px;
    left: 50%;
    transform: translateX(-50%);
    top: 3em;
    margin-bottom: 3em;
    border-radius: 20px;

}

.fondoiphat{
    position: absolute;
    background-image: url(/imgresponsive/2.PNG);
    width: 95%;
    height: 95%;
    top: 2.5%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    background-size: cover;
}

.lineaipat{
    position: absolute;
    background-color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Transparencia del 50% (0.5) */
    backdrop-filter: blur(10px); /* Difuminado con un radio de 10px */
    opacity: 0.8; /* Opacidad del 80% para el contenido */
    height: 40px;
    width:150px;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12.5px;
}
.imgipat{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}
.imgipat img{
    max-width: 20px;
    margin: 0em .5em;
    transition: transform 0.3s;
}
.imgipat img:hover {
    transform: scale(2.1) translateY(-5px);
    
}

.barraipad{
    width: 100px;
    height: 3px;
    position: absolute;
    background-color: gray;
    bottom: 3.5%;
    margin-left: 35%;
    transition: transform 0.3s;
}
.activarbarra{
    transform: translateY(-3px);
}
/* article{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerimgcorazon{
    position: absolute;
    top: 5em;
}
.containerimgcorazon img{
    max-width: 300px;
}
.imgcorazon img{
    position: absolute;
    max-width: 100px;
    pointer-events: none;
    top: 40%;
    left: 35%;
    transform: translateX(-50%);
    opacity: 0;
   
}
.imgcorazon img.like{
    animation: like 1s ease-in-out;
} */
@keyframes like {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    15% {
        opacity: 1;
        transform: scale(1.2);
    }
    30% {
        transform: scale(0.95);
    }
    45%, 80% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
        opacity: 1;
    }
}
.mackbok{
    display: none;
}

.proyectos_relevants{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.pr1 {
    padding: 2em 2em;
}


.cartacentral1:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 10px;
}


.cartacentral1{
     padding-bottom: 2em;  
     width: 302px;
     border-radius: 20px;
     top: 7em;
     transition: transform 0.3s;
     background-color: rgba(255, 255, 255, 0.3);
     box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 50px;
     height: 342px;
     position: relative;
}
.fondocolor {
    height: 100px;
    width: 100%;
    background-color: #184DE1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23b552aa'/%3E%3Cstop offset='1' stop-color='%23b552aa' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23b5a4d9'/%3E%3Cstop offset='1' stop-color='%23b5a4d9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffa69f'/%3E%3Cstop offset='1' stop-color='%23ffa69f' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23184DE1'/%3E%3Cstop offset='1' stop-color='%23184DE1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF5656'/%3E%3Cstop offset='1' stop-color='%23FF5656' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFDBD0'/%3E%3Cstop offset='1' stop-color='%23FFDBD0' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cartacentral1 h1{
    text-align: center;
    color: black;
    font-family: sans-serif;
}
.cartacentral1 p{
    margin: .5em 1em;
    text-align: center;
    color: black;
    font-family: sans-serif;
}
.cartacentral1 button{
    display: flex;
    padding: .5em .7em;
    position: absolute;

}
.btn1{
    left: 25%;
    bottom: 2em;
    background-color: #FFC6BC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff6a5e'/%3E%3Cstop offset='1' stop-color='%23ff6a5e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23cb5eff'/%3E%3Cstop offset='1' stop-color='%23cb5eff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFC6BC'/%3E%3Cstop offset='1' stop-color='%23FFC6BC' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover;
    border-radius: 10px;
    color: white;
    border: 1px solid #FFC6BC;
    
}
.btn2{
    background-color: #FFC6BC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff6a5e'/%3E%3Cstop offset='1' stop-color='%23ff6a5e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23cb5eff'/%3E%3Cstop offset='1' stop-color='%23cb5eff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFC6BC'/%3E%3Cstop offset='1' stop-color='%23FFC6BC' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover;
    border-radius: 10px;
    color: white;
    border: 1px solid #FFC6BC;
   left: 50%;
   bottom: 2em;
}
.galeria{
    display: flex;
    width: 500px;
    height: 230px;
}
.galeria img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .7;
    transition: 0.9s ease
}
.galeria img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
@media screen and (min-width:545px) {
 

    .circleblour{
        position: absolute;
        border-radius: 50%;
    }
    
    .cr1class{
        top: 25%;
        left: 60vw;
    }

    .cr2class{    
        top: 65%;
       left: 30vw;        
    }
    .cr3class{ 
        top: 85%;
        left: 70vw;
    }
   
   .cartaglour{
    
        max-width: 500px;
        height: 360px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px;

    } 
    
} 


@media screen and (min-width:600px){
    .centrardiv{
        background-color: rebeccapurple;
        height: 500px;
    }
    .headerclass h1{
        font-size: 8.5vw;
        font-family: sans-serif;
        color: white;
      }
    .textoclass {
        padding-top: 1em;
        display: flex;
        justify-content: left;
        align-items: center;
    
    }
    
    .textoclass p{
        text-align: left;
        font-size: 15px;
        font-family: sans-serif;
        color: white;
        width: 37vw;
    }

    .cartasgeneral{
    display: block;
    }
    .cuadros{
        display: block;
    }
    .menuhaburgesacomleto{
        display: none;
    }
    .verapartado{
        display: block;
    }
    .movil {
        width: 65px;    
        left: 40%;
        transform: translate(60%);
    
    }
}
@media screen and (min-width:760px){
   

    .textoclass {
        justify-content: left;
    }
    .responsive{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ipat{
        display: block;
    }
    .centerphone{
        position: relative;
            width: 296px;
            height: 433px;
    }
   
    .iphone{
        position: absolute;
        margin: 0;
        top: 20%;
     
    }
    }
   


@media screen and (min-width:1000px){
    .centrado {
        padding-top: 17em;
    }
    .mackbok{
        display: block;
    }
    .movil {
        position: absolute;
        width: 36px;
        height: 49px;
        bottom: 7em;
        left: 50%;
        border: 2px solid white;
        border-radius: 15px;
        
    }
    .proyectos_relevants {
  
        top: 4em;
    }
   
    
}

