*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondo{
    background-color: black;
    white-space: 100%;
    height: 600px;
}
a{
    text-decoration: none;
    color: black;
}

/*js con css para animar el texto con el scrool*/
/*derecha*/
.textojs {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .mostrarjs {
    opacity: 1;
    transform: translateY(0);
  }

html,body{
    scroll-behavior: smooth;
}
.Proyecto2,.Proyecto3,.Proyecto4,.Proyecto1{
    padding-top: 5em;
}

.gobak{
    position: fixed;
    right: 0;
    padding-right: 3em;
    padding-top: 7em;
    top: 0;
    font-size: 10px;
    font-family: sans-serif;
    z-index: 9999;
    color: black;
}
#gobak{
    transition: transform 0.3s ease;
}
#gobak:hover{
    transform: translateY(-10px);
  }
.textoh1 h1{
    color: white;
    font-size: 46px;
    text-align: center;
    position: relative;
    top: 200px;
    font-family: sans-serif;
    

    
}
.textoh1 p{
    color: red;
    text-align: center;
    position: relative;
    top: 220px;
    font-size: 20px;
    font-family: sans-serif;

}
.bajar{
    width: 30px;
    height: 50px;
    background-color: transparent;
    position: relative;
    top: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid white;
   
}

.bajar::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: subir-bajar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
  }

  @keyframes subir-bajar {
    0% {
      top: 15px;
    }
    100% {
      top: 30px;
    }
  }
  .palabrasprimeraparte{
    display: flex;
    justify-content: center;
  }
  .palabrasprimeraparte h1{
    color: white;
    position: relative;
    top: 350px;
    padding: 1em 2em;
    font-family: sans-serif;
    font-size: 15px;
  }
/*segunda part*/
#segundaparteid{
    padding-top: 5vh;
}
.texto2dapart h1{
    padding-left: 0.3em;
    font-size: 40px;
    font-family: sans-serif;
    padding-bottom: 1em
}
.texto2dapart p{
    text-align: left;
    margin: 1em 2.5em;
    font-family: sans-serif;
    font-size: 15px;
}


/*navegacion_proyectos*/
#navegacion_proyectos{
    padding-top: 5em;
}
.js{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    position: relative;
    top: 250px;
}
.js p{
    font-size: 17px;
}
.imgjs{
    background-image: url(/imglenguajes/js.png);
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Un color negro semitransparente */
    background-blend-mode: multiply; /* Mezcla la imagen y el color de fondo */ 
    background-attachment: fixed;
}

.textopr1 h1{
    font-size: 30px;
    font-family: sans-serif;
    padding-left: 1em;
}
.textopr1 p{
    font-size: 15px;
    padding-left: 2em;
    font-family: sans-serif;
    color: red;
}
.imgpr1{
    height: 20vh;
    margin: 9vh 0;
}
.imgpr1 img{
    width: 80%;
    height: 26vh;
    object-fit: cover;
    float: right;
}

.descripcionpr1 h1{
 padding-left: 1em;
 font-size: 25px;
 font-family: sans-serif;
 padding-bottom: 1em;
}
.descripcionpr1 p{
    margin: 1em 3em;
    color: black;
    font-family: sans-serif;
}

.versionespr1{
    padding-top: 5em;
}
.versionespr1 h1{
  
    font-size: 30px;
    font-family: sans-serif;
    padding-left: 1em;
}
.versionespr1 p{
    font-size: 15px;
    padding-left: 2em;
    font-family: sans-serif;
    color: #93A4C9;
}
.textoversionespr1 p{
    margin: 1em 3em;
    color: black;
}



.strip-container {
    overflow: hidden;
    width: 100%;
    height: 140px;
    margin: 4em 0em;
  }
  
  .strip {
    white-space: nowrap;
    animation: none; /* Inicialmente sin animación */
    margin: 3em 0em;
  }
  
  .strip img {
    display: inline-block;
    width: 200px;
    height: 120px;
    padding: 0em 1em;
  }



  .strip.animacion-detenida {
    animation-play-state: paused;
  }

  @keyframes strip-animation {
    0% {
        /*estado inicial*/
      transform: translateX(0%);
    }
      /*estado intermedio1*/
    40% {
        transform: translateX(-100%);/* Desplazamiento a la izquierda */
      }
        /*estado intermedio2*/
    60% {
        transform: translateX(-70%);/* Desplazamiento parcial a la izquierda */
      }
        /*estado fimal*/
      100% {
        transform: translateX(0%);
      }
  }



  .botonprj1 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 5em;
  }
  
  .botonprj1 button {
    padding: 1em 2em;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  
  .botonprj1 button::before {
    content: ""; /* Contenido del pseudo-elemento (cadena vacía) */
    position: absolute; /* Posición absoluta en relación al contenedor principal */
    top: 0; /* Posición superior del pseudo-elemento */
    left: 0; /* Posición izquierda del pseudo-elemento */
    width: 100%; /* Ancho del pseudo-elemento (100% del contenedor principal) */
    height: 100%; /* Altura del pseudo-elemento (100% del contenedor principal) */
    background-color: black; /* Color de fondo del pseudo-elemento (rojo) */
    transform: scaleX(0); /* Escala horizontal del pseudo-elemento (inicialmente 0) */
    transform-origin: left; /* Origen de transformación del pseudo-elemento (izquierda) */
    transition: transform 0.3s ease; /* Transición para la propiedad transform */
    z-index: -1; /* Z-index para establecer la capa inferior */
  }
  
  .botonprj1 button:hover {
    color: white; /* Color de texto al pasar el cursor sobre el botón */
  }
  .botonprj1 button:hover::before {
    transform: scaleX(1); /* Escala horizontal del pseudo-elemento a 1 en el hover */
  }


/*proyectos 2 ,4*/

.textopr2 h1{
    font-size: 30px;
    font-family: sans-serif;
    text-align: right;
    padding-right: 1em;
}
.textopr2 p{
    font-size: 15px;
    text-align: right;
    font-family: sans-serif;
    color: red;
    padding-right: 2em;
}
.imgpr2{
    height: 20vh;
    margin: 9vh 0;
}
.imgpr2 img{
    width: 80%;
    height: 26vh;
    object-fit: cover;
    float: left;
}


/*"proyectoscss-html*/
#proyectoscss-html{
    padding-top: 4em;
    padding-bottom: 4em;
}
.fondohtmlcss{
    background-image: url(/imglenguajes/htmlandcss.png);
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Un color negro semitransparente */
    background-blend-mode: multiply; /* Mezcla la imagen y el color de fondo */ 
    background-attachment: fixed;
    margin-bottom: 4em;
}
.palabrashtmlcss h1{
    text-align: center;
    position: relative;
    top: 200px;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
  

}
.palabrashtmlcss p{
    text-align: center;
    position: relative;
    top: 210px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    
}
.proyectoshtml1{
    padding-left: 2em;
}

.proyectoshtml1 p{
    padding-bottom: 3em;
    font-family: sans-serif;
    color: white;
}
.proyectoshtml1 h1{
   font-size: 30px;
   font-family: sans-serif;
   transition: transform 0.3s ease;
   color: white;
}
#proyectoscss-html{
    background-color: black;
}
.mostrarproyecto{
    background-color: black;
}
.fondoproyectos{
    background-image: url(/imgcartas/fotografo.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    height: 690px;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: opacity 0.3s ease;
    opacity: 0;
}
.mostrarproyectohtml{
    opacity: 1;
}
#descripcion{
    padding-top: 1em;
    color: white;
    font-size: 2.5em;
    font-family: sans-serif;
    padding-left: .5em;
  
}
#versionproyecto{
    color: white;
    margin: 1em 3em;
    font-family: sans-serif;
     font-size: 15px;
}
#tituloversion{
    padding-top: 1em;
    color: white;
    font-size: 2.5em;
    font-family: sans-serif;
    padding-left: .5em;
}
#descripcionp{
    color: white;
    margin: 1em 3em;
    font-family: sans-serif;
     font-size: 15px;
}

.imgconteinerproyects h1 {
    color: white;
    font-family: sans-serif;
    padding-top: 1em;
    padding-bottom: 3em;
    text-align: center;
}
.imgconteinerproyects {
    overflow: hidden;
    width: 100%;
    margin: 4em 0em;
  }
  
  .stip_imgconainter {
    white-space: nowrap;
    animation: strip-animation 15s linear infinite;
  }
  
  .stip_imgconainter img {
    display: inline-block;
    width: 200px;
    height: 140px;
    padding: 0em .5em;
  }



 
  @keyframes  strip-animation {
    0% {
        /*estado inicial*/
      transform: translateX(0%);
    }
      /*estado intermedio1*/
    40% {
        transform: translateX(-100%);/* Desplazamiento a la izquierda */
      }
        /*estado intermedio2*/
    60% {
        transform: translateX(-70%);/* Desplazamiento parcial a la izquierda */
      }
        /*estado fimal*/
      100% {
        transform: translateX(0%);
      }
  }

.aeroh1{
    display: flex;
   align-items: center;
}
.aeroh1 button{
    position: relative;
    margin-left: auto;
    margin-right: 4em;
    background-color: white;
    padding: .5em 1.5em;
    border: 1px solid white;
    border-radius: 10px;
    font-family: sans-serif;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
   
}
.aeroh1 button::before {
    content: ""; /* Contenido del pseudo-elemento (cadena vacía) */
    position: absolute; /* Posición absoluta en relación al contenedor principal */
    top: 0; /* Posición superior del pseudo-elemento */
    left: 0; /* Posición izquierda del pseudo-elemento */
    width: 100%; /* Ancho del pseudo-elemento (100% del contenedor principal) */
    height: 100%; /* Altura del pseudo-elemento (100% del contenedor principal) */
    background-color: black; /* Color de fondo del pseudo-elemento (rojo) */
    transform: scaleX(0); /* Escala horizontal del pseudo-elemento (inicialmente 0) */
    transform-origin: left; /* Origen de transformación del pseudo-elemento (izquierda) */
    transition: transform 0.3s ease; /* Transición para la propiedad transform */
    z-index: -1; /* Z-index para establecer la capa inferior */
  }
.aeroh1 button:hover {
    color: white; /* Color de texto al pasar el cursor sobre el botón */
  }
  .aeroh1 button:hover::before {
    transform: scaleX(1); /* Escala horizontal del pseudo-elemento a 1 en el hover */
  }

.foto2{
    display: flex;
   align-items: center;
}
.foto2 button{
    position: relative;
    margin-left: auto;
    margin-right: 4em;
    background-color: white;
    padding: .5em 1em;
    border: 2px solid white;
    border-radius: 10px;
    font-family: sans-serif;
}

.gale1{
    display: flex;
   align-items: center;
}
.gale1 button{
    position: relative;
    margin-left: auto;
    margin-right: 4em;
    background-color: white;
    padding: .5em 1em;
    border: 2px solid white;
    border-radius: 10px;
    font-family: sans-serif;
}


.restau1{
    display: flex;
   align-items: center;
}
.restau1 button{
    position: relative;
    margin-left: auto;
    background-color: white;
    padding: .5em 1em;
    border: 2px solid white;
    border-radius: 10px;
    font-family: sans-serif;
    margin-right: 4em;
}
@media screen and (min-width:720px){
    .bajar{
      height: 50px;
      width: 60px;
    }
    .texto2dapart p {
        font-size: 20px;
        margin: 1em 6em;

    }
    .descripcionpr1 p {
        margin: 1em 9em;
        color: black;
        font-family: sans-serif;
        font-size: 19px;
    }
    .textoversionespr1 p {
        margin: 1em 9em;
        color: black;
        padding: 0;
        font-size: 19px;
    }
    .imgpr1 img {
        width: 80%;
        height: 40vh;
        object-fit: cover;
        float: right;
        
    }
    .imgpr1 {
        height: 38vh;
        margin: 9vh 0;
    }

    .imgpr2 img {
        width: 80%;
        height: 40vh;
        object-fit: cover;
        float: left;
    }
    .imgpr2 {
        height: 38vh;
        margin: 9vh 0;
    }
}

@media screen and (min-width:1000px){


    .fondo {
      
        height: 712px;
    }
    .textoh1 h1 {
       
        position: relative;
        top: 20vh;
        text-align: left;
        left: 0;
        font-size: 70px;
        padding-left: 1em;
    }

    .textoh1 p {
        color: red;
        text-align: left;
        position: relative;
        top: 20vh;
        left: 0;
        padding-left: 3.5em;
        font-size: 20px;
        font-family: sans-serif;
    }
    .contenderoatajosbajar{
        padding-top: 4em;
    }



    .bajar{
      height: 50px;
      width: 35px;
      border-radius: 18px;
    }
    .texto2dapart h1 {
       
        font-size: 50px;
       
    }
    .texto2dapart p {
        
        margin: 1em 7em;
        

    }


    .imgjs {
    height: 771px;
    }
    .js {
    top: 50%;
    }

    .fondohtmlcss {
        height: 771px;
      
    }


    .textopr1 h1 {
        font-size: 45px;
     
    }
    .textopr1 p {
        font-size: 15px;
        padding-left: 3em;
       
    }
    .imgpr1 {
        height: 70vh;
        margin: 3vh 0;
    }
    
    .imgpr1 img {
        height: 63vh;
       
    }
    .descripcionpr1 h1 {
        font-size: 40px;
    }

    .descripcionpr1 p {
        margin: 1em 11em;
        font-size: 25px;
    }

    .textoversionespr1 p {
        margin: 1em 11em;
        font-size: 25px;
        padding: 0;
    }

    .strip img {
       
        width: 196px;
        height: 136px;
      
    }


    /*parte 2 */

    .palabrashtmlcss h1 {     
        top: 303px;
    }
    .palabrashtmlcss p {
        top: 309px; 
    }
    .textopr2 h1 {
        font-size: 45px;
    }
    .textopr2 p {
        font-size: 15px;
        padding-right: 3em;
    }
    

    .imgpr2 {
        height: 70vh;
        margin: 3vh 0;
    }
    
    .imgpr2 img {
        height: 63vh;
    }




    .descripcionproyecto{
        margin-top: 5em;
    }
    .aeroh1,.foto2, .gale1, .restau1 {
        display: block;
      
        
    }
    .proyectoshtml1 p {
       display: none;
    }
    .proyectoshtml1 {
        padding-left: 0;
        display: flex;
        justify-content: center;
        padding-top: 4em;
    }
    .proyectoshtml1 h1 {
     
        padding: 0em 1em;
    }
    .restau1 button {
        margin-top: 2em;
         position: static; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
       
    }
    .gale1 button {
        margin-top: 2em;
        position: static; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .foto2 button {
        margin-top: 2em;
        position: static; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .aeroh1 button {
        margin-top: 2em;
        position: static; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }


    #descripcion {
       
        font-size: 60px;
       
    }
    #descripcionp {
        color: white;
        margin: 1em 13em;
        font-family: sans-serif;
        font-size: 18px;
    }
    #versionproyecto {
        
        margin: 1em 13em;
        font-family: sans-serif;
        font-size: 18px;
    }
    .imgconteinerproyects h1 {
       font-size: 40px;
    }

    .fondoproyectos {
        height: 100%;
    }
}

@media screen and (min-width:1600px){
    .texto2dapart p {
        margin: 2em 7em;
        font-size: 25px;
    }
    .descripcionpr1 p {
        margin: 1em 15em;
        font-size: 24px;
    }
    .textoversionespr1 p {
        margin: 1em 15em;
        font-size: 24px;
    }
    .textopr1 h1 {
        font-size: 60px;
    }
    .textopr1 p {
        font-size: 20px;
        padding-left: 3em;
    }
    .textopr2 h1 {
        font-size: 60px;
    }
    .textopr2 p {
        font-size: 20px;
        padding-right: 3em;
    }
    .descripcionpr1 h1 {
        font-size: 50px;
    }
    .versionespr1 h1 {
        font-size: 40px;
        font-family: sans-serif;
        padding-left: 1em;
    }
    .versionespr1 p {
        
        padding-left: 0;
     
    }
    #descripcion {
        font-size: 70px;
    }
    #descripcionp {
        color: white;
        margin: 1em 13em;
        font-family: sans-serif;
        font-size: 25px;
    }
    #versionproyecto {
        margin: 1em 13em;
        font-family: sans-serif;
        font-size: 25px;
    }
}
@media screen and (min-width:1800px){
    .descripcionpr1 p {
        margin: 1em 15em;
        font-size: 30px;
    }
    .versionespr1 p {
        padding-left: 1.5em;
        font-size: 30px;
    }
}
